/* Author: Pham Quang Minh, Le Trinh Hai Nam */
/* CSS might've required the help from various sources for the navigation bar, mainly the use of flexbox (display: flex) */

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

body{
    min-height: 100vh;       /* body size is ever as big as the content*/
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 127, 190), rgb(158, 0, 158));
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

input[type="checkbox"] {
    accent-color: rgb(0, 250, 0);
}


/* Navigation for all pages (header)*/

header{
    margin: 0px;
}

.nav_bar{
    background-color: rgb(106, 106, 106);
    padding: 0px 2rem;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo_nav{
    color: white;
    display: flex;
    align-items: center;
}

.logo{
    height: 4rem;
    margin-left: 15px;
    margin-right: 15px;
}



.Logo_nav h2{
    border-bottom: white solid 3px;
}

nav ul{
    list-style: none;
    margin: 0px;
}

.menu li{
    display: inline-block;
}

.menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    background-color: rgb(79, 79, 79);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
}

.menu a:hover{
    background-color: rgb(123, 123, 123);
    transition-duration: 1s;
}

/* footer */

footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    background-color: rgb(106, 106, 106);
    color: white;
}

/* about.php */

.about_mainbody{
    font-size: 1.3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.photo_section{
    float: right;
    clear: left;
}


.group_photo{
    border: 1px black solid;
    text-align: center;
    width: 30%;
    display: block;
    text-align: center;
}

.group_photo img{
    width: 30%;
    border: 1px solid black;
}

.interest_table, .interest_table th, .interest_table td{
    border: 1px solid white;
}

.name_and_time{
    float: left;
    margin-bottom: 2rem;
}

.studentID{
    float: right;
}

.Tutor_Name{
    float: left;
    clear: left;
}

.Contribution_list{
    float: left;
    clear: left;
}

.Interests{
    clear: both;
}

.interest_table{
    margin: auto;            /* Centers the table*/
    background-color: rgb(0, 0, 113);
}

.interest_table th:hover, .interest_table td:hover{
    color: rgb(255, 143, 143);
}
/* index.php */

#index_body{
    background-image: url(../images/index_background.jpg);
    background-size: 100vw;
}

#index_main{
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 1rem;
}

.index_main_links{
    display: flex;
    justify-content: space-between;
}

.index_admin_links{
    display: flex;
    justify-content: space-evenly;
}

.index_main_links a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem 1.3rem;
    border-radius: 5px;
    background-color: rgb(107, 48, 225);
}

.index_admin_links a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem 1.3rem;
    border-radius: 5px;
    background-color: rgb(225, 48, 48);
}



.index_main_links a:hover{
    background-color: rgb(70, 32, 148);
    transform: translateY(-5px);
    transition-duration: 1s;
}

.index_admin_links a:hover{
    background-color: rgb(136, 34, 34);
    transform: translateY(-5px);
    transition-duration: 1s;
}

#github_link{
    text-decoration: none;
    color: white;
}

#github_link:hover{
    color: blue;
}

/* apply.php */

.apply_form{
    padding-left: 20rem;
    padding-right: 20rem;
    font-size: 1.3rem;
}


.apply_form input::placeholder, .other_skills textarea::placeholder{
    color: white;
}

.apply_form input, .other_skills textarea, #Ref_Num, #State{
    border: black 2px solid;
}

#First_Name, #Last_Name, #Street_Address, #Suburb-Town, #Email, #Phone_Number, .other_skills textarea{
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    background-color: rgb(162, 162, 162);
    color: white;
}

#Ref_Num ,#Birth_Date, #State, #Postcode{
    font-size: 1.3rem;
    background-color: rgb(162, 162, 162);
    color: white;
}

.field_1, .field_2, .field_3, .field_4{
    padding-left: 5rem;
    padding-right: 5rem;
}

.field_2, .field_4s_child_check{
    display: flex;
    justify-content: space-between;
}

#States_and_Code{
    display: flex;
    justify-content: space-between;
}

.parent_field{
    padding: 10px;
    margin: 15px;
}

.other_skills{
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.other_skills textarea{
    width: 100%;
    height: 5rem;
    font-size: 1.3rem;
}

.final{
    justify-content: center;
    display: flex;
}

.final_child{
    margin: 5px;
    font-size: 1.3rem;
}


/* jobs.php */
.jobs_mainbody{
    margin-left: 10rem;
    margin-right: 10rem;
}

.jobs_page_table{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.jobs_page_table th{
    border: rgb(41, 255, 187) 2px solid;
    color: rgb(41, 255, 187);
    padding: 0.2rem;
}

.jobs_page_table td{
    border: white 2px solid;
    color: white;
    padding: 0.2rem;
}


/* manage.php */

.eoi_form_1, .eoi_form_2, .eoi_form_3, .eoi_form_4, .eoi_form_5{
    display: none;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.eoi_form_2 input, .eoi_form_3 input, .eoi_form_4 input, .eoi_form_5 input {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    background-color: rgb(162, 162, 162);
    color: white;
}

.manage_status_change_select{
    font-size: 1.3rem;
    background-color: rgb(162, 162, 162);
    color: white;
}

#visi_form1:checked ~ .eoi_form_1 {
    display: block;
}

#visi_form2:checked ~ .eoi_form_2 {
    display: block;
}

#visi_form3:checked ~ .eoi_form_3 {
    display: block;
}

#visi_form4:checked ~ .eoi_form_4 {
    display: block;
}

#visi_form5:checked ~ .eoi_form_5 {
    display: block;
}

.manage_mainbody{
    font-size: 1.3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.manage_mainbody button{
    font-size: 1.3rem;
}

.manage_mainbody div{
    margin: 1rem;
}

.manage_page_table{
    text-align: center;
    display: block;
}

.manage_page_table th{
    border: rgb(41, 255, 187) 2px solid;
    color: rgb(41, 255, 187);
}

.manage_page_table td{
    border: white 2px solid;
    color: white;
}

#table_invisi_toggle:checked ~ .manage_page_table{
    display: none;
}

#table_visi_toggle:checked ~ .manage_page_table{
    display: block;
}

#table_invisi_toggle, #table_visi_toggle{
    height: 20px;
    width: 20px;
}

/* admin_login.php */
.admin_login_page_main div{
    text-align: center;
    margin: 1.5rem;
}

.admin_login_page_main input{
    font-size: 1.3rem;
    background-color: rgb(162, 162, 162);
    color: white;
}

.admin_login_page_main label{
    font-size: 1.3rem;
    color: white;
}

.manage_mainbody input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.enhancement_page_main{
    margin-left: 5rem;
    margin-right: 5rem;
}